{% extends 'pybo-base.html' %}
{% block content %}
<section class="section-pybo">
            <div class="booker-list">
                <h2>프로필 목록</h2>
                <table class="booker-table">
                    <thead>
                        <tr>
                            <th>소개</th>
                            <th>작성자</th>
                            <th>댓글수</th>
                            <th>작성일</th>
                        </tr>
                    </thead>
                    <tbody class="book-tbody">
                    {% for profile in profiles %}
                        <tr>
                            <td><a href="{% url 'pybo:detail' profile.id %}" class="book-page">{{ profile.title }}</a></td>
                            <td>{{ profile.author }}</td>
                            <td>{{ profile.profilecomment_set.count }}</td>
                            <td>{{ profile.create_at }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>

        </section>
{% endblock %}