{% extends 'pybo-base.html' %}
{% block content %}
<section class="section-pybo">
            <div class="home-content">
                <h1>안녕하세요!</h1>
                <h3>자기를 소개해보세요!</h3>
                <p>Pybo는 당신에게 많은 사람을
                </p>
                <p>소개시켜줄것입니다!</p>
                <a href="{% url 'pybo:profile-list' %}" class="book-btn">사람들 프로필 보러가기</a>
                <a href="{% url 'pybo:profile-create' %}" class="book-btn" style="margin-top:20px">새 프로필 작성하기</a>
            </div>
        </section>
{% endblock %}
