 {% extends 'base.html' %}
 {% block content %}
{% load socialaccount %}
  <!-- login -->
 <section class="section">
            <div class="wrapper">
                <div class="logreg-box">
                    <div class="form-box login">
                        <div class="logreg-title">
                            <h2>로그인</h2>
                            <p>로그인 해주세요!</p>
                        </div>
                        <form method="post" class="post-form" action="{% url 'login' %}">
                            {% csrf_token %}
                            {% include 'error.html' %}
                            <div class="form-group">
                            <div class="input-box">
                                <span class="icon"><i class='bx bx-envelope'></i></span>
                                <input type="text" class="form-control" name="username" id="username" required>
                                <label for="username">Username</label>
                            </div>
                            </div>
                            <div class="form-group">
                            <div class="input-box">
                                <span class="icon"><i class='bx bx-lock' ></i></span>
                                <input type="password"  class="form-control" name="password" id="password"  required>
                                <label for="password">Password</label>
                            </div>
                            </div>
                            <div class="remember-forgot">
                                <a href="{% url 'password_reset' %}">Forgot password?</a>
                            </div>
                            <button type="submit"
                            class="btn">Login</button>

                            <div class="logreg-link">
                                <p>아이디가 없습니까?
                                    <a href="{% url 'signup' %}" class="resister">가입하기</a></p>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="media-options">
                    <a href="{% provider_login_url 'google' %}">
                        <i class='bx bxl-google' ></i>
                        <span>Login With Google</span>
                    </a>
                </div>
            </div>
        <!-- login -->

 </section>
 {% endblock %}