 {% extends 'base.html' %}
 {% block content %}

  <!-- login -->
 <section class="section">
            <div class="wrapper">
                <div class="logreg-box">
                    <div class="form-box login">
                        <div class="logreg-title">
                            <h2>비밀번호 재생성</h2>
                            <p>새 비밀번호를 작성주세요</p>
                        </div>
                        <form method="post" class="post-form">
                            {% csrf_token %}
                            {% include 'error.html' %}
                            <div class="form-group">
                            <div class="input-box">
                                <span class="icon"><i class='bx bx-envelope'></i></span>
                                <input type="password" class="form-control" name="new_password1" id="new_password1"
                                      value="{{form.username.value|default_if_none:''}}" required>
                                <label for="new_password1">새 비밀번호</label>
                            </div>
                            </div>
                            <div class="form-group">
                            <div class="input-box">
                                <span class="icon"><i class='bx bx-envelope'></i></span>
                                <input type="password"  class="form-control" name="new_password2" id="new_password2"
                                       value="{{form.username.value|default_if_none:''}}" required>
                                <label for="new_password2">새 비밀번호 확인</label>
                            </div>
                            </div>
                            <button type="submit"
                            class="btn">비밀번호 바꾸기</button>
                        </form>
                    </div>
                </div>
            </div>
        <!-- login -->

 </section>
 {% endblock %}